
label {
	font-size: 2em;
	color: white;
	background:  #333333;	
	vertical-align:  top;	
}


input {
	border-radius: 2px;
	-webkit-appearance:none;
	border: 1px solid #ccc;
	padding: 5px;
	padding-bottom: 15px;	
	vertical-align: top;
	background-color: rgba(255,255,255,0.1);			
}


.text-center {
	text-align: center;	
}

#contenedor {	
	margin-top: 40px;
}

.contenedor-imagen {
	width: 400px;
	height: 450px;
	display: inline-block;	
	margin: 0 10px 20px 10px;

}

img {
	width: 85%;
	height: 85%;	
}